@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Mulish:wght@300;400&family=Roboto:ital,wght@0,900;400;0,500;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body,
html {
  font-family: 'Mulish', sans-serif;
  width: 100%;
  background-color: #fafafa;
}


.embed-container {
  position: relative;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin-top: 15px;
}


.div-pai {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-component {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: rgb(19, 33, 158);
  padding-bottom: 25px;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 8%;
}

.menu-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 76px;
  color: #fff;
}


.link-to-nav {
  font-family: 'Mulish', sans-serif;
  ;
  color: #fafafa;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}

.titulo-escudo {
  display: flex;
  background-color: #fff;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  color: rgb(19, 33, 158);
  font-size: 40px;
  padding: 15px;
  min-height: 215px;
}

.titulo {
  text-align: center;
}

.escudo1 {
  width: 160px;
  align-items: flex-start;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.escudo2 {
  width: 160px;
  align-items: flex-start;
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.contador {
  font-size: 15px;
  margin-top: 5px;
}

.contador span {
  color: #BD1D01;
}

.bloco-fotos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 100px;
  border-color: rgb(19, 33, 158);
}

.fotos {
  width: 25%;
  height: 263px;
  object-fit: cover;
}

.espaco-sobre {
  margin-top: 35px;
  margin-bottom: 20px;
  padding: 2%;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(19, 33, 158);
  color: #fafafa;
  text-align: center;
  align-items: center;
  font-size: 18px;
}

.espaco-sobre i {
  margin-left: 18px;
}


.div-sobre {
  display: flex;
  margin: 50px;
  width: 50%;
  -webkit-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 33%);
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 33%);
}

.texto-sobre {
  line-height: 1.8;
  width: 32%;
  background-color: rgb(19, 33, 158);
  flex-direction: column;
  color: #fafafa;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  margin: 40px;
}

#sobre {
  margin: 15px;
  padding-bottom: 10px;
}


.foto-sobre {
  display: flex;
  width: 65%;
  flex-direction: column;
  margin-top: 35px;
  margin-left: 35px;
  margin-bottom: 35px;
}

.foto-sobre1 {
  width: 100%;
  object-fit: contain;
  margin-bottom: 30px;
  margin-top: 5px;
}

.foto-sobre2 {
  width: 100%;
  object-fit: contain;
  margin-bottom: 30px;
  margin-bottom: 5px;
}

.div-surgiu {
  display: flex;
  width: 75%;
  margin-top: 5px;
  margin-bottom: 20px;
}

.div-surgiu div {
  height: 185px;
}

.texto-surgiu {
  /* -webkit-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 33%);
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 33%);
  -moz-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 33%); */
  margin-top: 20px;
  margin-right: 30px;
  padding: 20px;
  text-align: justify;
  background-color: rgb(19, 33, 158);
  color: #fafafa;

}

.texto-surgiu h2 {
  margin-bottom: 8px;
}

.texto-proposito {
  /* -webkit-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 33%);
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 33%);
  -moz-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 33%); */
  margin-right: 15px;
  margin-top: 20px;
  margin-left: 30px;
  padding: 20px;
  text-align: justify;
  background-color: rgb(19, 33, 158);
  color: #fafafa;
}

.texto-proposito h2 {
  margin-bottom: 8px;
}

.div-acoes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  width: 90%;

}

.foto-acao {
  margin: 20px;
  object-fit: cover;
  width: 25%;
  flex-direction: column;
  max-width: 100%;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: 0.4s;
}

.div-acao {
  max-width: 100%;
}

.foto-acao:hover {
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

#acoes {
  color: rgb(19, 33, 158);
  font-size: 40px;
}

.foto-code {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  color: rgb(19, 33, 158);
}

.foto-code1 {
  width: 60%;
}

.button-code {
  margin-top: 20px;
  padding: 15px;
  text-align: center;
  justify-content: center;
  justify-items: center;
  background-color: rgb(34, 50, 190);
  border: none;
  color: #fafafa;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
}

.button-code:hover {
  background: #585dfa;
}

.bloco-contato {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contato {
  color: rgb(19, 33, 158);
  font-size: 40px;
}

.div-contato {
  display: flex;
  width: 66%;
  margin-top: 5px;
  margin-bottom: 20px;
  justify-content: center;
}

.texto-contato {
  /* -webkit-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 33%);
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 33%);
  -moz-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 33%); */
  width: 33%;
  margin-top: 20px;
  margin-right: 30px;
  padding: 20px;
  text-align: center;
  justify-content: center;
  justify-items: center;
  background-color: rgb(19, 33, 158);
  color: #fafafa;

}

@media only screen and (max-width: 1800px) {
  .div-sobre {
    width: 54% !important;
  }
}


@media only screen and (max-width: 1650px) {
  .div-sobre {
    width: 58% !important;
  }
}

@media only screen and (max-width: 1500px) {
  .div-sobre {
    width: 65% !important;
  }
}

@media only screen and (max-width: 1400px) {
  .div-sobre {
    width: 68% !important;
  }
}

@media only screen and (max-width: 1300px) {
  .div-sobre {
    width: 72% !important;
  }
}

@media only screen and (max-width: 1200px) {
  .div-sobre {
    width: 78% !important;
  }
}

@media only screen and (max-width: 1100px) {
  .div-sobre {
    width: 86% !important;
  }
}

@media only screen and (max-width: 980px) {
  .div-sobre {
    width: 100% !important;
  }
}



@media(max-width: 768px) {
  .header-component {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 10px;
    margin: 0;
  }


  .menu-nav {
    height: 28px;
  }

  .link-to-nav {
    font-size: 8px;
  }

  .titulo-escudo {
    margin-top: 0px;
    padding: 5px;
    font-size: 20px;
    min-height: 106px;
  }

  .titulo {
    font-size: 14px;
  }

  .contador {
    font-size: 9px;
    margin-top: 0px;
  }

  .escudo1, .escudo2 {
    width: 80px;
    align-items: flex-start;
  }

  .bloco-fotos {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .fotos {
    width: 50%;
    height: 100px;
    object-fit: cover;
    flex-direction: column;
  }

  .espaco-sobre {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 12px;
    text-align: center;
  }

  .espaco-sobre i {
    font-size: 12px;
  }

  .div-sobre {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin: 0 16px;

    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 96%);
  }

  .texto-sobre {
    line-height: 1.8;
    width: 95%;
    background-color: rgb(19, 33, 158);
    color: #fafafa;
    padding: 16px 22px 24px 22px;
    margin: 0;
    text-align: center;
    font-size: 10px;
  }

  #sobre {
    margin: 3px;
    text-align: center;
    padding-bottom: 0px;
  }

  .foto-sobre {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0;
    align-items: center;
  }

  .foto-sobre1 {
    width: 95%;
    margin: 10px 0;
  }

  .foto-sobre2 {
    width: 95%;
    margin: 0 10px;
  }

  .div-surgiu {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 0px;
    margin-bottom: 10px;
    margin: 10px;
  }

  .texto-surgiu {
    margin-top: 5px;
    margin-right: 0px;
    padding: 20px;
    font-size: 10px;
    margin-right: 5px;
  }

  .texto-surgiu h2 {
    margin-bottom: 8px;
    font-size: 12px;
    text-align: center;

  }

  .texto-proposito {
    margin-top: 20px;
    margin-right: 5px;
    padding: 20px;
    font-size: 10px;
    margin-left: 0px;
    height: auto !important;
  }

  .texto-proposito h2 {
    margin-bottom: 8px;
    font-size: 12px;
    text-align: center;
  }

  .div-acoes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0px;
  }

  .foto-acao {
    margin: 10px;
    object-fit: cover;
    width: 43%;
    flex-direction: column;
  }

  .div-acoes img {
    max-width: 100%;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }

  .div-acoes:hover img {
    -moz-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }

  #acoes {
    font-size: 20px;
  }

  .embed-container {
    position: relative;
    padding-bottom: 0px;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  iframe[src*="youtube"] {
    width: 100%;
    height: 100%;
  }

  .button-code {
    /* -webkit-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 33%);
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 33%); */
    margin-top: 5px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    color: #fafafa;
    font-size: 8px;
  }

  .foto-code h3 {
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    font-size: 10px;
    color: rgb(19, 33, 158);
  }

  .foto-code1 {
    width: 40%;
  }


  .div-contato {
    display: flex;
    width: 90%;
    margin-top: 0px;
    margin-bottom: 10px;
    margin: 10px;
    gap: 6px;
  }

  .texto-contato {
    margin: 0;
    margin-top: 5px;
    padding: 10px;
    font-size: 6px;
  }

  #contato {
    font-size: 8px !important;
  }



}